*
{
    padding:0;
    margin:0;
}


#box1
{
    width: 600px;
    height: 320px;
    background-color: rgb(39, 144, 243);

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#box1 h2
{
    text-align: center;
    margin: 0;
}
#box1 .p1
{
    text-align: center;
    margin:20px 0 20px 0;
}
#box1 .p2
{
    float: left;
    text-align: center;
    width: 120px;
    margin-left: 20px;
    color:pink;
}

#box2
{
    width: 300px;
    height: 100px;
    background-color: rgb(16, 238, 238);
    border-radius:20px;
    margin: 20px auto;
}
#box2 p
{
    text-align: center;
    line-height: 100px;
}

#box3
{
    width: 220px;
    height: 80px;
    background-color: rgb(1, 96, 185);
    border-radius: 20px;
    float: left;
}
#box3 p
{
    text-align: center;
    margin:0;
    line-height: 80px;
    font-weight: bold;
}

#box4
{
    width: 220px;
    height: 80px;
    background-color: rgb(1, 96, 185);
    border-radius: 20px;
    float: right;
}
#box4 p
{
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}